@{
    ViewBag.Title = @FollowUp.Resources.Resource.HomePageTitle;
}

<div class="jumbotron">
    <h1>Follow up - Ticketing System</h1>
    <p class="lead">A ticketing System to handle and solve issues.</p>
</div>
